.col-md-3{
    height:200px
}

.display{
    color:yellow
}

section{
    position:absolute;
    top:96%;
    bottom:2%;
    margin:6px;
}

span{
    border-radius:20px;
    background-color: #343A40;
    color:white;
    padding:7px 9px;
}

i{
    padding:5px;
    font-size: 24px;
}