<div class="container">
    <form class="border mx-auto text-center shadow-lg p-3 mb-5 bg-grey rounded"  #forminput ="ngForm"  (ngSubmit) = "submitQuote(); forminput.resetForm({})">
        <h2 class="text-dark mb-4 mt-2 border-bottom">Your quote</h2>
        <div class="d-flex">
            
            <div id="one">
                <label class="font-weight-bold font-italic">Name</label>
                <input type="text" placeholder="Your name" class="mb-3 mr-3 form-control"  id="name"  name="name" [(ngModel)] = "newDisplay.name" #name = "ngModel">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger"></div>
            </div>
            <div id="two">
                <label class="font-weight-bold font-italic">Author</label>
                <input type="text" placeholder="Quote by" class="mb-3 mr-3 form-control" id="author" name="author" [(ngModel)] = "newDisplay.author"  #author="ngModel">
                <div [hidden]="author.valid || name.pristine" class="alert alert-danger"></div>
            </div>
        </div>
        <label class="font-weight-bold font-italic">Quote</label><br>
        <textarea placeholder="type your quote" class="mb-3 ml-3  form-control" id="quote" name="quote"   [(ngModel)]="newDisplay.quote" #quote = "ngModel"></textarea> <br>
        <div [hidden]="quote.valid || name.pristine" class="alert alert-danger"></div>

        <button type="submit">Generate quote</button>
    </form>
</div>